<div id="main">
		<div class="about-container">
			 {{#if isAuthenticated}}
            <section class="about-col">
                <header class="about-title">
                    <h2>Create Career Entry</h2>
                </header>
                <div class="about-contents">
                    <form action="/about" method="post">
                        <label for="startDate">Start Date:</label>
                        <input type="text" id="startDate" name="start_date" placeholder="Start Date" required>

                        <label for="endDate">End Date:</label>
                        <input type="text" id="endDate" name="end_date" placeholder="End Date">

                        <label for="institution">Institution:</label>
                        <input type="text" id="institution" name="institution" placeholder="Institution" required>

                        <label for="title">Title:</label>
<select id="title" name="title">
  <option value="Education" {{#if (eq title "Education")}}selected{{/if}}>Education</option>
  <option value="Work Experience" {{#if (eq title "Work Experience")}}selected{{/if}}>Work Experience</option>
</select>
                        <label for="location">Location:</label>
                        <input type="text" id="location" name="location" placeholder="Location">

                        <label for="description">Description:</label>
                        <textarea id="description" name="description" placeholder="Description"></textarea>

                        <button type="submit">Create Entry</button>
                    </form>
                </div>
            </section>
            {{/if}}
			<main class="about-row">
				<!-- Educations section starts -->
				<section class="about-col">
    <header class="about-title">
        <h2>Education</h2>
    </header>
    <div class="about-contents">
        {{#each careerData}}
        {{#if (eq title "Education")}}
        <div class="about-box">
            <h4>{{start_date}} - {{end_date}}</h4>
            <h3>{{institution}}</h3>
			{{#if ../isAuthenticated}}
                        <form action="/about/{{entry_id}}/edit" method="post">
                            <label for="startDate">Start Date:</label>
                            <input type="text" id="startDate" name="start_date" value="{{start_date}}">

                            <label for="endDate">End Date:</label>
                            <input type="text" id="endDate" name="end_date" value="{{end_date}}">

                            <label for="institution">Institution:</label>
                            <input type="text" id="institution" name="institution" value="{{institution}}">

                            <label for="title">Title:</label>
                            <select id="title" name="title">
  <option value="Education" {{#if (eq title "Education")}}selected{{/if}}>Education</option>
  <option value="Work Experience" {{#if (eq title "Work Experience")}}selected{{/if}}>Work Experience</option>
</select> 

                            <label for="location">Location:</label>
                            <input type="text" id="location" name="location" value="{{location}}">

                            <label for="description">Description:</label>
                            <textarea id="description" name="description">{{description}}</textarea>

                            <button type="submit">Update Entry</button>
                        </form>

                        <!-- Delete Button -->
                        <form action="/about/{{entry_id}}/delete" method="post">
                            <button type="submit">Delete Entry</button>
                        </form>
                        {{/if}}
        </div>
        {{/if}}
        {{/each}}
    </div>
</section>
<!-- Education section ends -->

				<!-- Educations section ends -->

<!-- Work Experience section starts -->
<section class="about-col">
    <header class="about-title">
        <h2>Work Experience</h2>
    </header>
    <div class="about-contents">
        {{#each careerData}}
        {{#if (eq title "Work Experience")}}
        <div class="about-box">
            <h4 class="job_info">{{start_date}} - {{end_date}}</h4>
            <h3>{{title}}</h3>
            <p class="job_info">{{location}}</p>

            <ul class="job_desc">
                
                <li>{{description}}</li>
              
            </ul>
			{{#if ../isAuthenticated}}
                        <form action="/about/{{entry_id}}/edit" method="post">
                            <label for="startDate">Start Date:</label>
                            <input type="text" id="startDate" name="start_date" value="{{start_date}}">

                            <label for="endDate">End Date:</label>
                            <input type="text" id="endDate" name="end_date" value="{{end_date}}">

                            <label for="institution">Institution:</label>
                            <input type="text" id="institution" name="institution" value="{{institution}}">

                            <label for="title">Title:</label>
                           <select id="title" name="title">
  <option value="Education" {{#if (eq title "Education")}}selected{{/if}}>Education</option>
  <option value="Work Experience" {{#if (eq title "Work Experience")}}selected{{/if}}>Work Experience</option>
</select>

                            <label for="location">Location:</label>
                            <input type="text" id="location" name="location" value="{{location}}">

                            <label for="description">Description:</label>
                            <textarea id="description" name="description">{{description}}</textarea>

                            <button type="submit">Update Entry</button>
                        </form>

                        <!-- Delete Button -->
                        <form action="/about/{{entry_id}}/delete" method="post">
                            <button type="submit">Delete Entry</button>
                        </form>
                        {{/if}}
        </div>
        {{/if}}
        {{/each}}
    </div>
</section>
<!-- Work Experience section ends -->
			</main>

		</div>
</div>